.soler-box {
    position: relative;
    height: 50rem;
    width: 100%;
    margin: 2rem 0rem;
}

.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    z-index: -1;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    height: 0.1px;
    width: 0.1px;
}

.sun {
    height: 6rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: linear-gradient(45deg, rgb(255, 0, 0), rgb(255, 255, 0));
    position: absolute;
    /* top: 50%;
    left: 50%; */
    box-shadow: 0px 0px 0px 0px rgb(235, 197, 10);
    animation: earthanimation 10s linear infinite;
    cursor: pointer;
    transition: box-shadow 3s;
}

.sun-details {
    position: absolute;
    border-style: solid;
    border-color: transparent transparent transparent transparent;
    border-width: 1px;
    height: 8rem;
    aspect-ratio: 1/1;
    top: 40%;
    left: 53%;
    padding: 1rem;
    transition: border-color 5s;
    cursor: pointer;
}

.sun-details::after {
    content: 'Sun is the source of LIFE';
    color: transparent;
    transition: color 7s;
}

.sun:hover {
    box-shadow: 0px 0px 20px 10px rgb(235, 197, 10);
}

.sun-details:hover {
    border-color: white transparent transparent white;

    &::after {
        color: white;
    }
}

.circle {
    position: absolute;
    border-style: solid;
    border-color: transparent transparent white white;
    border-width: 1px;
    height: 12rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    animation: earthanimation 5s linear infinite;
}

.earth-circle {
    position: absolute;
    top: 44%;
    left: 45.5%;
}

.earth {
    position: absolute;
    background: linear-gradient(45deg, blue, lightblue);
    height: 3rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    animation: earthanimation 3s linear infinite;
}

@keyframes earthanimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.pulto {
    position: absolute;
    background: linear-gradient(45deg, rgb(255, 145, 0), rgb(228, 84, 12));
    height: 5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    animation: pultoanimation 3s linear infinite;
}

.circle-p {
    position: absolute;
    border-style: solid;
    border-color: transparent transparent white white;
    border-width: 1px;
    height: 18rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    animation: pultoanimation 10s linear infinite;
}

.pulto-circle {
    position: absolute;
    top: 38%;
    left: 41.4%;
}

@keyframes pultoanimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.night {
    position: absolute;
    top: 20%;
    left: 40%;
    transform: rotateZ(120deg);
}

.falling-star {
    position: absolute;
    left: 50%;
    top: 30%;
    height: .2rem;
    background: linear-gradient(-45deg, #fff, rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px #fff);
    animation: tail 3s ease-in-out infinite, falling 3s ease-in-out infinite;
}

@keyframes tail {
    0% {
        width: 0;
    }

    30% {
        width: 10rem;
    }

    100% {
        width: 0;
    }
}

@keyframes falling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(30rem);
    }
}

.falling-star::before,
.falling-star::after {
    position: absolute;
    content: "";
    top: calc(50% - 3px);
    right: 0;
    height: 0.3rem;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #fff, rgba(0, 0, 255, 0));
    border-radius: 100%;
    transform: translateX(50%) rotateZ(45deg);
    animation: shining 3s ease-in-out infinite;
}

@keyframes shining {
    0% {
        width: 0;
    }

    50% {
        width: 3rem;
    }

    100% {
        width: 0;
    }
}

.falling-star::after {
    transform: translateX(50%) rotateZ(-45deg);
}

.changeShap {
    position: absolute;
    background-color: #fff;
    border: 1px solid red;
    height: 10rem;
    aspect-ratio: 1/1;
    box-shadow: 0px 0px 20px 20px white;
    animation: shap 10s ease-in-out infinite;
}

@keyframes shap {
    0%,100% {
        clip-path: inset(0 0 0 0);
    }
    15% {
        clip-path: inset(25% 0 0 0);
    }
    40% {
        clip-path: inset(0 0 0 25%);
    }
    60% {
        clip-path: inset(0 0 25% 0);
    }
    80% {
        clip-path: inset(0 25% 0 0);
    }
}